.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}

.inputLabel {
    font-size: 1.0rem;
    font-weight: bold;
}
.textFeild {
    height: 35px;
    padding: 4px;
}
.containerTable {
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f4f4f4;
        
    }
}
