.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}

.inputLabel {
    font-size: 1.0rem;
    font-weight: bold;
}
.textFeild {
    height: 35px;
    padding: 4px;
}