.noticeItemContainer {
    width: 200px;
    height: 100px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 4px;
    min-width: 200px;
    text-decoration: none;
    color:#000;
    transition: all ease-in 0.3s;
}